<?xml version="1.0" encoding="utf-8"?>
<phpunit
  bootstrap="test/units/bootstrap.php"
  colors="true"
  stopOnError="false"
  stopOnFailure="false"
  stopOnSkipped="false"
  stopOnIncomplete="false"
  verbose="false"
  mapTestClassNameToCoveredClassName="true"
>
  <testsuites>
    <testsuite name="Bee4">
      <directory phpVersion="5.4.0" phpVersionOperator=">=">test/units</directory>
    </testsuite>
  </testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
	</logging>
	<php>
    <const name="WEBSERVER_HOST" value="127.0.0.1" />
    <const name="WEBSERVER_PORT" value="1349" />
    <const name="WEBSERVER_BIN"  value="php" />
  </php>
</phpunit>
