---
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}" />
		<meta name="keywords" content="{{ page.keywords }}" />
		<meta name="author" content="Stephane HULARD" />
	</head>

	<body>
		<header>
			<div class="inner">
				<h1>bee4/transport</h1>
				<h2>Simple fluent client built to make intensive calls!</h2>
				<a href="https://github.com/bee4/transport" class="button"><small>View project on</small>GitHub</a>
			</div>
		</header>

		<div id="content-wrapper">
			<div class="inner clearfix">
				<section id="main-content">
					{{content}}
				</section>

				<aside id="sidebar">
					<p>
						<a href="https://scrutinizer-ci.com/g/bee4/transport/">
							<img alt="Scrutinizer Quality Score" src="https://scrutinizer-ci.com/g/bee4/transport/badges/quality-score.png?s=e908698796250470837da1aee3d5f1de58abe42b" />
						</a>
						<a href="https://scrutinizer-ci.com/g/bee4/transport/">
							<img alt="Code Coverage" src="https://scrutinizer-ci.com/g/bee4/transport/badges/coverage.png?s=458223269fcf1205044aaa271d0bbfc08f1c7f95" /></a>
						</a>
						<br/>
						<a href="https://packagist.org/packages/bee4/transport">
							<img alt="Latest stable version" src="https://poser.pugx.org/bee4/transport/v/stable.png" /></a>
						</a>
					</p>
					<a href="https://github.com/bee4/transport/zipball/master" class="button">
						<small>Download</small>
						.zip file
					</a>
					<a href="https://github.com/bee4/transport/tarball/master" class="button">
						<small>Download</small>
						.tar.gz file
					</a>

					<p class="repo-owner"><a href="https://github.com/bee4/transport"></a> is maintained by <a href="http://www.bee4.fr">bee4</a>.</p>

					<p><a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
				</aside>
			</div>
		</div>
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-47811257-1', 'bee4.github.io');
			ga('send', 'pageview');
	</script>
	</body>
</html>